<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>Weebsite</title>
    <meta name="description" content="rplace clone">

    <link rel="stylesheet" href="/static/styles/styles.css">
    <link rel="stylesheet" href="/static/styles/menu.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

    <script type="module" src="/static/scripts/main.js"></script>

</head>

<body>
    <h1>place stuff!</h1>

    <div class="_coord_display" id="_coord_display">
        0, 0
    </div>

    <div class="_canvas_move" id="_canvas_move">
        <div class="_canvas_zoom" id="_canvas_zoom">
            <canvas class="_canvas_cell" id="_canvas_cell" width="1000" height="1000"></canvas>
        </div>
    </div>

    <div class="_grid_select" id="_grid_select"></div>

    <form class="_menu_form" id="_menu_form">
        <fieldset>
            <div class="_menu" id="_menu">
                <div>
                    <input type="radio" class="_color_select" id="_c00" name="_color_select" value="0" />
                    <input type="radio" class="_color_select" id="_c01" name="_color_select" value="1" />
                    <input type="radio" class="_color_select" id="_c02" name="_color_select" value="2" />
                    <input type="radio" class="_color_select" id="_c03" name="_color_select" value="3" />
                    <input type="radio" class="_color_select" id="_c04" name="_color_select" value="4" />
                    <input type="radio" class="_color_select" id="_c05" name="_color_select" value="5" />
                    <input type="radio" class="_color_select" id="_c06" name="_color_select" value="6" />
                    <input type="radio" class="_color_select" id="_c07" name="_color_select" value="7" />
                </div>
                <div>
                    <input type="radio" class="_color_select" id="_c08" name="_color_select" value="8" />
                    <input type="radio" class="_color_select" id="_c09" name="_color_select" value="9" />
                    <input type="radio" class="_color_select" id="_c10" name="_color_select" value="10" />
                    <input type="radio" class="_color_select" id="_c11" name="_color_select" value="11" />
                    <input type="radio" class="_color_select" id="_c12" name="_color_select" value="12" />
                    <input type="radio" class="_color_select" id="_c13" name="_color_select" value="13" />
                    <input type="radio" class="_color_select" id="_c14" name="_color_select" value="14" />
                    <input type="radio" class="_color_select" id="_c15" name="_color_select" value="15" />
                </div>
            </div>
        </fieldset>
    </form>

    <a href="https://GitHub.com/lasumn/platz/" class="footer" id="footer" target="_blank">GitHub</a>

</body>

</html>