._menu {
    height: fit-content;
    width: fit-content;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 20%;
    margin-inline: auto;
    border-radius: 5px;
    background-color: rgb(255, 254, 249);
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    gap: 5px 0px;
}

fieldset {
    border: none;
}

._color_select,
._color_select:checked {
    appearance: none;
    -webkit-appearance: none;
    border: 25px solid;
    width: 49px;
    height: 49px;
}

._color_select {
    box-shadow: 0 0 0 2px #909090;
}

._color_select:checked {
    box-shadow: 0 0 0 3px #000000;
}

._color_select[value="0"],
._color_select[value="0"]:checked {
    border-color: #ffffff;
}

._color_select[value="1"],
._color_select[value="1"]:checked {
    border-color: #d4d7d9;
}

._color_select[value="2"],
._color_select[value="2"]:checked {
    border-color: #898d90;
}

._color_select[value="3"],
._color_select[value="3"]:checked {
    border-color: #000000;
}

._color_select[value="4"],
._color_select[value="4"]:checked {
    border-color: #9c6926;
}

._color_select[value="5"],
._color_select[value="5"]:checked {
    border-color: #ff99aa;
}

._color_select[value="6"],
._color_select[value="6"]:checked {
    border-color: #b44ac0;
}

._color_select[value="7"],
._color_select[value="7"]:checked {
    border-color: #811e9f;
}

._color_select[value="8"],
._color_select[value="8"]:checked {
    border-color: #51e9f4;
}

._color_select[value="9"],
._color_select[value="9"]:checked {
    border-color: #3690ea;
}

._color_select[value="10"],
._color_select[value="10"]:checked {
    border-color: #2450a4;
}

._color_select[value="11"],
._color_select[value="11"]:checked {
    border-color: #7eed56;
}

._color_select[value="12"],
._color_select[value="12"]:checked {
    border-color: #00a368;
}

._color_select[value="13"],
._color_select[value="13"]:checked {
    border-color: #ffd635;
}

._color_select[value="14"],
._color_select[value="14"]:checked {
    border-color: #ffa800;
}

._color_select[value="15"],
._color_select[value="15"]:checked {
    border-color: #ff4500;
}


/*
// #ffffff
// #d4d7d9
// #898d90
// #000000
// #9c6926
// #ff99aa
// #b44ac0
// #811e9f
// #51e9f4
// #3690ea
// #2450a4
// #7eed56
// #00a368
// #ffd635
// #ffa800
// #ff4500
*/